.item li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  padding: 0px 15px;
  margin-bottom: 15px;
  height: 40px;
}

.item li:hover {
  background-color: blanchedalmond;
}

.item button {
  background-color: transparent;
  border: none;
  width: 30px;
  font-size: 16px;
}

.item button:hover {
  transform: scale(0.8);
}

@media (max-width: 768px) {
  .item li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 10px 14px;
    min-height: 50px;
    margin-bottom: 10px;
  }

  .item li p,
  .item li del {
    margin: 0;
    text-align: left;
    width: 100%;
    flex: 1;
  }

  .item li div {
    display: flex;
    gap: 4px;
  }

  .item button {
    width: 28px;
    height: 28px;
    font-size: 15px;
  }
}
